# Data science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**objectives:**
*List popular languages for Data Science
*Below are a few examples of evaluating arithmetic expressions in python
*Converting 200 minutes to hours by diving by 60

some of the popular languages that Data Scientists use are:
1.Python
2.SQL
3.R
4.Java
5.Scala

some of the commonly used libraries used by Data scientists include:
Pandas
Matplotlib
Keras

|Data Science Tools|
|------------------|
|Tableau|
|Apache Spark|
|Jupyter Notebook|
|R|

### Below are a few examples of evaluating arithmetic expressions in python.
1.x=2+3*4-5
  result=x
  print(result)

y=7/8+2

z=2-7

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes= 200%60
hours=200//60

In [3]:
hours, minutes = divmod(200,60)

## Author
Ritesh